.paragraf {
  color: red;

  &__small {
    font-size: 12px;
  }

  &__large {
    font-size: 20px;
  }

  &:hover {
    color: green;
  }
}

// .paragraf__small {
//   font-size: 12px;
// }

// .paragraf__large {
//   font-size: 20px;
// }
